@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

input[type='submit'] {
  background: #eee;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: #333;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem 1.4rem;
  transition: ease-in background 0.1s;
}

input[type='submit']:hover {
  background: #ccc;
}

input[type='text'] {
  background: transparent;
  border: 0.1rem solid lightgrey;
  border-radius: 0.5rem;
  padding: 1rem;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forecast {
  color: #555;
  display: flex;
  flex-wrap: wrap;
}

.forecast.daily {
  align-items: center;
  background: #f5f5f5;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem -0.2rem rgba(0, 0, 0, 0.2);
  flex: 1 0;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.forecast.daily:not(:last-child) {
  margin-right: 2rem;
}

.forecast.daily > * {
  margin: 1rem;
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}
